<!DOCTYPE html>
<html>

<head>
    <title>subgraphIsomorphism Problem</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {
            {
                request.script_root | tojson | safe
            }
        };
    </script>
</head>

<body>
        <h1>Aldo Arturo Reyna Gómez       A01169073</h1>
        <h1>Jose Roberto Juarez Ortiz     A01332508</h1>
        <p>la entrada para este grafo es  [[2,4,5],[1,3,6],[2,4,7],[1,3,8],[1,6,8],[2,5,7],[3,6,8],[7,4,5]]. <img src="http://academic.aua.am/vahe_mkrtchyan/Web/FinalProject/images/isomorphic2.png" alt="Smiley face" align="middle"> </p>
        <p>los campos superiores y su respectivo boton ejecutan el codigo optimizado</p>
        <p>los campos inferiores y su respectivo boton ejecutan el codigo de fuerza bruta</p>
        <p>el campo de la izquiera toma como parametro el grafo completo y el derecho su posible subgrafo</p>
        <p>llene ambos campos antes de ejecutar el programa</p>
        <form action="" method=post>
            <p>
                <input name="clauses" type=text>
                <input name="clauses2" type=text>
                <input class="btn myButton"type=submit value=Search>
        </form>
        <form action="" method=post>
            <p>
                <input name="clausesN" type=text>
                <input name="clausesN2" type=text>
                <input class="btn myButtonN"type=submit value=Search>
        </form>
        <h3>{{clausula}}</h3>
        <h4>{{maxclique}}</h4>

</body>

</html>